.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-muted-color {
    color: var(--p-text-muted-color);
}

.rounded-border {
    border-radius: var(--p-content-border-radius);
}

.no-wrap {
    white-space: nowrap;
}

.color-primary {
    color: var(--primary-color);
}

.max-w-8xl {
    max-width: var(--container-8xl);
}
