.p-button {
    --p-button-primary-color: var(--primary-color);
    --p-button-primary-background: #fff;
    --p-button-primary-border-color: var(--primary-color);

    --p-button-primary-hover-color: #fff;
    --p-button-primary-hover-background: var(--primary-color);
    --p-button-primary-hover-border-color: var(--primary-color);

    --p-button-primary-active-color: #fff;
    --p-button-primary-active-background: var(--primary-active-color);
    --p-button-primary-active-border-color: var(--primary-active-color);
}
