.flag {
    background: url(https://primefaces.org/cdn/primevue/images/flag/flags_responsive.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

.flag-hu {
    background-position: 0 39.256198%;
}

.flag-at {
    background-position: 0 5.371901%;
}

.flag-cz {
    background-position: 0 21.900826%;
}
